@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
    font-family: 'Lobster', sans-serif;
    background-color:#5C9DB8;
    text-align: center;
}


h1{
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    line-height: 160px;
    text-align: center;
    color: #000000;
}


img{
    width: 533px;
    height: 451.48px;
}

button{
    width: 300px;
    height: 80px;
    background-color: #564946;
    border-radius: 1.5rem;
    color: #fff;
    font-family: 'lobster', sans-serif;
    font-size: 45px;
}

