@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
    font-family: 'Lobster', sans-serif;
    background-color:#5C9DB8;
    text-align: center;
}


h1{
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    line-height: 160px;
    text-align: center;
    color: #000000;
}


img{
    max-width: 533px;
    height: 451.48px;
}

button{
    max-width: 300px;
    height: 80px;
    background-color: #564946;
    border-radius: 1.5rem;
    color: #fff;
    font-family: 'lobster', sans-serif;
    font-size: 45px;
}


@media (max-width: 640px) {

    h1{
      font-size: 70px;
      margin:auto;
    }

    img{
        width: auto;
    }

    button{
        width: auto;
        font-size: 35px;
        margin: auto;
    }

  }

  @media (max-width: 380px) {

    h1{
      font-size: 65px;
      margin:auto;
    }

    img{
        max-width: 350px;
        height:auto ;
    }

    button{
        width: auto;
        font-size: 35px;
        margin: auto;
    }

  }
